-var hr = "border:1px dotted lightgrey; margin-right:1px;"
-var line = "|"
-var lowTr = 0.4
-var medTr = 0.6
-var highTr = 1
-
	var departments = 
		[
			{name:"IT", opacity:lowTr, hr:true, hrMargin:"100px"}, 
			{name:"Product Management", opacity:lowTr, hr:true}, 
			{name:"Marketing", opacity:lowTr, hr:true}, 
			{name:"Operational", opacity:lowTr, hr:true}, 
			{name:"Development", opacity:medTr, arrow:true}, 
			{name:"Supply", opacity:medTr, arrow:true}, 
			{name:"Advertising and PR", opacity:medTr, arrow:true}, 
			{name:"Logistik", opacity:medTr, arrow:true}, 
			{name:"System", opacity:highTr, arrow:true}, 
			{name:"Distribution", opacity:highTr, arrow:true}, 
			{name:"CRM", opacity:highTr, arrow:true}, 
			{name:"Call Center", opacity:highTr, arrow:true}
		]